body{
	font-family: sans-serif;
}

body header{
	background: #39A38F;
	height: 25vw;
	color: white;
}

body header h1{
	font-size: 7vw;
	padding: 7vw 0vw 0vw 3vw;
}

body header h2{
	font-size: 3vw;
	margin: 0vw 73.2vw 0vw 3vw;
	border-bottom: 1px solid;
}

/*------END HEADER------*/

body section#sec1{
	height: 45vw;
}

body section#sec1 div.div1{
	display: flex;
	border-bottom: 0.5px solid;
	border-color: #979797;
	height: 5vw;
}

body section#sec1 div.div1 h2.rorantitulo{
	font-size: 3.5vw;
	margin: 1vw 0vw 0vw 4vw; 
}

body section#sec1 div.div1 h2#ponto1{
	color: #39A38F;
	font-size: 3.5vw;
	margin: 1vw 0vw 0vw 0vw;
}

body section#sec1 div.div1 ul{
	display: flex;
	margin: 2vw 0vw 0vw 35vw;
}

body section#sec1 div.div1 ul li{
	margin: 0vw 3.5vw 0vw 0vw;
}

body section#sec1 div.div1 ul li a{
	text-decoration: none;
	color: grey;
}

body section#sec1 div.div1 ul li a.home{
	color: #303030;
}

body section#sec1 div.div2{
	display: flex;
	text-align: center;
}

body section#sec1 div.div2 h2.about{
	font-size: 3vw;
	margin: 3vw 0vw 0vw 41vw;
	text-align: center;
	color: black;
}

body section#sec1 div.div2 h2{
	font-size: 3vw;
	margin: 3vw 0vw 0vw 0vw;
	color: #39A38F;
}

body section#sec1 h3{
	font-size: 2vw;
	text-align: center;
	margin: 1vw 42.2vw 3vw 42.2vw;
	padding: 0vw 0vw 2vw 0vw;
	color: grey;
	border-bottom: 0.3px solid;
}

body section#sec1 p.p1{
	text-align: center;
	margin: 0vw 33.8vw 0vw 33.8vw;
	color: grey;
}

body section#sec1 ul{
	display: flex;
	margin: 4vw 0vw 0vw 0vw;
}

body section#sec1 ul li img{
	align-items: center;
	margin: 0vw 0vw 2vw 13vw
}

body section#sec1 ul li div.div3{
	display: flex;
}

body section#sec1 ul li h4{
	font-size: 1.3vw;
	margin: 0vw 0vw 0vw 9.5vw;
}

body section#sec1 ul li h4#colors{
	color: #39A38F;
	margin: 0vw 0vw 0vw 0.5vw;
}

body section#sec1 ul li p{
	margin: 1vw 10vw 0vw 7vw;
	text-align: center;
	color: grey;
}

body section#sec1 ul li div.div4 h4{
	margin: 0vw 0vw 0vw 8vw;
}

body section#sec1 ul div.div4{
	display: flex;
}

body section#sec1 ul li div.div4 h4#coffee{
	margin: 0vw 0vw 0vw 0.5vw;
	color: #39A38F;
}

body section#sec1 ul li div.div5{
	display: flex;
}

body section#sec1 ul li div.div5 h4#magic{
	margin: 0vw 0vw 0vw 0.5vw;
	color: #39A38F;
}

/************END SECTION 1************/

body section#sec2{
	background: #39A38F;
	color: white;
	height: 73vw;
}

body section#sec2 h2{
	font-size: 2vw;
	padding: 10vw 0vw 0vw 0vw;
	text-align: center;
}

body section#sec2 h3{
	text-align: center;
	margin: 1vw 0vw 0vw 0vw;
	font-size: 1.5vw;
	margin: 0.5vw 0vw 4vw 0vw;
}

body section#sec2 div.quadro{
	display: flex;
	height: 50vw;
	margin: 0vw 10vw 0vw 10vw;
	background: white;
	color: black;
}

body section#sec2 div.quadro ul li label{
	margin: 2vw 0vw 0vw 2vw;
	display: block;
}

body section#sec2 div.quadro ul li input{
	margin: 0vw 0vw 1vw 2vw;
	width: 35vw;
	height: 2vw;
}

body section#sec2 div.quadro ul li input.Message{
	height: 15vw;
}

body section#sec2 div.quadro ul li a{
	padding: 1.2vw;
	background: #39A38F;
	display: block;
	margin: 1vw 32vw 0vw 2vw;
	text-decoration: none;
	color: white;
}

body section#sec2 div.quadro ul.lista2{
	margin: 2vw 0vw 0vw 5vw;
}

body section#sec2 div.quadro ul.lista2 li h3{
	margin: 1vw 30vw 2vw 0vw;
}

body section#sec2 div.quadro ul.lista2 li p{
	margin: 0vw 15vw 2vw 2vw;
	color: grey; 
}

body section#sec2 div.quadro ul.lista2 div.local{
	display: flex;
}

body section#sec2 div.quadro ul.lista2 div.local p{
	margin: 1.5vw 22vw 1vw 2vw;
	color: black;
}

body section#sec2 div.quadro ul.lista2 div.celular{
	display: flex;
	margin: 2vw 0vw 0vw 0vw;
}

body section#sec2 div.quadro ul.lista2 div.celular p{
	margin: 1.5vw 25vw 1vw 2vw;
	color: black;
}

body section#sec2 div.quadro ul.lista2 div.caneta{
	display: flex;
	margin: 2vw 0vw 0vw 0vw;
}

body section#sec2 div.quadro ul.lista2 div.caneta p{
	color: black;
}

/***************END SECTION 2***********/

footer{
	display: flex;
	background: #D8D8D8;
}

footer p{
	margin: 2vw 50vw 2vw 6vw;
	color: grey;
}

footer ul{
	display: flex;
	margin: 2vw 0vw 0vw 0vw;
}

footer ul li{
	margin: 0vw 1vw 0vw 0vw;
}